.body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
}

.header {
    z-index: 100;
    position: relative;
}

@media screen and (max-width: 1268px) {
    .body {
        overflow-x: hidden;
    }
}
