/* .body
{
    background: linear-gradient( #00ff95, #096379, #001a24);
    overflow-x: hidden;




}
.header
{
    width: 100%;
    z-index: 1000;
    margin-bottom: 3%;
} */

.body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content fills the page */
    background: linear-gradient (#020024,#090979,#00D4FF);
}


.header
{
    z-index: 2;
    /* background: transparent; */
}

@media screen and (max-width: 1268px) {
    .body {
        overflow-x: hidden;
    }
}
