/* Global Reset */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

body {
  background: linear-gradient(#020024, #090979, #00D4FF);
  color: white;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}