<div class="nav-bar-div">
  <div class="logo">
    <div class="logo-text">
      <a routerLink="/">SoftwJob</a>
    </div>
  </div>

  <div class="nav-bar">
    <div class="ul-bar">
      <div><a routerLink="/">Homepage</a></div>
      <div><a routerLink="/services">Services</a></div>
      <div><a routerLink="/contact">Contact</a></div>
      <div><a routerLink="/dashboard">Dashboard</a></div>
      <div><a routerLink="/admin">admin</a></div>

      <div><a routerLink="/login">Login</a></div>
      <div><a routerLink="/register">Register</a></div>
    </div>
  </div>
</div>

<div class="search-bar-wrapper">
  <input 
    type="text" 
    class="search-bar-input"
    placeholder="Search for any service..."
    [(ngModel)]="searchTerm"
    (keyup.enter)="onSearch()" />

  <button class="search-bar-button" (click)="onSearch()">
    <i class="fa fa-search"></i>
  </button>
</div>
