<div class="body"
  [style.direction]="currentLang === 'ar' ? 'rtl' : 'ltr'">

<section class="hero">
  <h1>Welcome to SoftwJob</h1>
  <p>Find skilled developers and designers for your next project easily.</p>
  <button routerLink="/services">Find Freelancers</button>
</section>

  <section class="projects">
    <h2>Some Featured Projects</h2>
    <div class="project-card">
      <div class="card">
        <h3>Web App Design</h3>
        <p>Modern and responsive websites built with Angular and Python.</p>
      </div>
      <div class="card">
        <h3>Mobile Development</h3>
        <p>Cross-platform apps using Flutter and React Native.</p>
      </div>
      <div class="card">
        <h3>Graphic Design</h3>
        <p>Creative visuals and branding for digital success.</p>
      </div>
    </div>
  </section>
</div>
